-r requirements_common.txt

torch==2.8.0.*
torchvision==0.23.0.* 
torchaudio==2.8.0.*


transformers==4.57.1 # for qwen3-vl
deepspeed==0.16.4

flash-attn
#flash-attn #==2.7.3
# # ./ossutil sign oss://nebula-cv-hz2/user/author/tmp/flash_attn-2.7.3+cu12torch2.8cxx11abiFALSE-cp310-cp310-linux_x86_64.whl --timeout 3600000
#


#transformer-engine[pytorch] #==2.2.0

#todo upgrade docker image
vllm==0.10.2
#vllm==0.11.0



# author
peft>=0.17.0    # for image-edit-reward
diffusers[torch]>=0.35.0

#
#accelerate==0.34.2
qwen_vl_utils
termcolor
SentencePiece
oss2
prodigyopt
shyaml
pyrallis
demjson3
