-r requirements_common.txt

## for vllm==0.8.4
torch==2.6.0.*
torchvision==0.21.0.*
torchaudio==2.6.0.*

flash-attn

transformer-engine[pytorch]==2.2.0
vllm==0.8.4
deepspeed==0.16.4


# author
peft==0.15.0    # for image-edit-reward

#accelerate==0.34.2
qwen_vl_utils
transformers==4.57.1 # for qwen3-vl
termcolor
SentencePiece
oss2
prodigyopt
shyaml
pyrallis
demjson3